/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
}
section{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/banner-image1.jpg.crdownload.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
}
.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 430px;
    width: 100%;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow:7px 7px 60px #000;
    overflow: hidden;
    margin: 0 20px;
}
.container .forms{
    display: flex;
    align-items: center;
    height: 540px;
    width: 300%;
    transition: height 0.2s ease;
}
.container .form{
    width: 50%;
    padding: 30px;
    transition: margin-left 0.18s ease;
}


.container.active .signup{
    margin-left: -51.6%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}
.container .login{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .login{
    opacity: 1;
    transition: opacity 0.2s ease;
    max-width: 430px;
}

.container.active .forms{
    height: 500px;
    

}




.container .forget{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active1 .forget{
    opacity: 1;
    transition: opacity 0.2s ease;
    max-width: 430px;

}
.container.active1 .login{
    margin-left: -36.5%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}
.container.active1 .forms{
   

    height: 250px;
}


/* Responsive Form */
@media only screen and (max-width: 600px) {
    .container.active .login{
        max-width: 330px;
    }
    .container.active1 .forget{
        max-width: 300px;
    }
    .container{
        max-width: 330px;
        margin: 0 0;
    }
    .input-field ::placeholder{
     font-size: 13px;
    }
    .title{
        font-size: 20px;
    }
    .forget-link{
        font-size: 12px;
    }
   .login-title .titleFrgt{
    font-size: 1.5rem;
   }
    
  }



.login-title{
    text-align: center;
    }
    .title{
        color: #ffffff;
        font-size: 2em;
        text-transform: uppercase;
        margin-bottom: 2rem;
        position: relative;
    }
    .title::before{
        height: 3px;
        content: "";
        position: absolute;
        bottom: 0;
        width: 60px;
        border-radius: 25px;
        background-color: red;
    }
    .titleFrgt{
        color: #ffffff;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        position: relative;
    }
    .titleFrgt::before{
        height: 3px;
        content: "";
        position: absolute;
        bottom: 0;
        width: 60px;
        border-radius: 25px;
        background-color: red;
    }
    
    

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}
.input-field input{
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
    display: block;

}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}
.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}
.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}
.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}
.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}
.form .text{
    color: white;
    font-size: 14px;
}


.form .button{
    margin-top: 30px;
}
.form .button input{
    color: #fff;
    text-transform: uppercase;
    background: crimson;
    opacity: .7;
    transition:opacity .3s ease;
    padding: 10px;
    font-size: 16px;
    display: block;
    width: 100%;
    color:#000;
    outline: none;
    border: none;
    margin: 1em 0;
    margin-top: 25px;
}
.button input:hover{
    background-color: crimson ;
    opacity: 1;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}


.checkbox-text{
    padding-top: 25px;
    justify-content: space-between;
    display: flex;
}


.control .btn{
    
    color: #fff;
    text-transform: uppercase;
    background: crimson;
    opacity: .7;
    transition:opacity .3s ease;
    padding: 10px;
    font-size: 16px;
    display: block;
    width: 100%;
    color:#000;
    outline: none;
    border: none;
    margin: 1em 0;
    margin-top: 25px;
}

.login-up-text{
    margin-top: 30px;
    text-align: center;
}
.login-up-text a{
    text-decoration: none;
    color: crimson;
    opacity: .7;
    font-weight: 700

}
.login-signup a{
    text-decoration: none;
    color: crimson;
    opacity: .7;
    font-weight: 700
}

.btn:focus{
    opacity: 1;
}
p{top: 0;
    font-size: 15px;

    text-align: right;
}
a{
    text-decoration: none;
    color: #fff;
    opacity: .7;
}
a:hover{
    opacity: 1;
} 


/* Validation  */
:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}
.input-field input:focus {
    outline: none;
}

.input-field.error input {
    border-color: var(--error-color);
}

.input-field.success input {
    border-color: var(--success-color);
}


.input-field small {
    color: var(--error-color);
}