
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

@import url('https://fonts.googleapis.com/css?family=Orbitron');
  
  .movie-card {
    position: relative;
    box-sizing: border-box;
    max-width: 400px;
    height: 270px;
    background-position: center;
    background-size: cover;
    margin: 4vh 0 0 ;
    border-radius: 5px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, .4);
    color: white;
    padding: 15px 1.6%;
  float: left;
  margin-left: 30px;
  margin-right: 5px;

  
  
  }
  .movie-card:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: linear-gradient(to right, rgba(40,40,60,1) 0%,rgba(40,0,60,0) 25%);
    background-blend-mode: multiply;
    will-change: transform;
    z-index: 0;
  }

  .movie-card .movie-h1 {
    font-size: 170%;
    position: relative;
    z-index: 10;
    font-family: 'Lato', sans-serif;
    margin-bottom: 8px;
    color: #ffffff;
    float: left;
    width: 100%;
    z-index: 1;
  
  }
  .run-time a{
    top: -3.5px;
    display: block;
    border: 1px solid white;
    border-radius: 7px;
    position: relative;
    z-index: 10;
    color: white;
    padding: 5px;
    text-align: center;
    background: rgba(0, 0, 0, .3);
    margin: 0;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transition: all .2s;
    font-family: 'Lato', sans-serif;
    font-size:10px ;
    z-index: 1;

  }
  .run-time a:hover {
    background: rgba(255, 255, 255, .8);
    color: black;
    box-shadow: 0 0 10px rgba(255,255,255,.5);
    mix-blend-mode: screen;
  }
  .run-time a:active {
    transform: translateY(2px);
  }
  .break{
    margin:8px 0 5px;
    height: 0.5px;
    width:65%;
    position: relative;
  
    background: white;
    z-index: 1;
    font-family: 'Lato', sans-serif;
    z-index: 1;

  }
  .movie-card span {
    display: inline-block;
    position: relative;
    z-index: 10;
    font-size: 12px;
    color: #fca836;
    z-index: 1;

    font-family: 'Lato', sans-serif;

  }
  .movie-card h4 {
    display: inline-block;
    position: relative;
    z-index: 10;
    font-size: 12px;
    color: #ffffff;
    z-index: 1;
    text-transform: none;

    font-family: 'Lato', sans-serif;

  }
  .one-line{
    display: flex;
    width: 65%;
    justify-content: space-between;
    z-index: 1;

  }
  .one-line2{
    display: flex;
    width: 63%;
    justify-content: space-between;
    z-index: 1;

  }
  .watch-btn{
    display: block;
    border: 1px solid white;
    border-radius: 4px;
    z-index: 1;

    position: relative;
    color: white;
    padding: 8px;
    text-align: center;
    background: rgba(0, 0, 0, .3);
    margin: 0;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transition: all .2s;
    font-family: 'Lato', sans-serif;
    width: 110px;
  
  }
 .watch-btn:hover {
    background: rgba(255, 255, 255, .8);
    color: black;
    box-shadow: 0 0 10px rgba(255,255,255,.5);
    mix-blend-mode: screen;
  }
  .watch-btn:active {
    transform: translateY(2px);
  }
  .movie-card  p {
    font-family: 'Lato', sans-serif;
    position: relative;
    z-index: 1;
    font-size: 12px;
    height: 50%;
    color: #ffffff;
    width: 65%;
  }
  @media (max-width: 1200px) {
  
   
    .movie-h1 {
    font-size: 120%;
    }
    .movie-card  p {
     
      overflow: hidden;
      width: 100%;
      height: 22%;
      font-size: 8.6px;
    }
    
    .search-text {
      font-size: 77px;
    
  }
  }
  @media (max-width: 768px) {
  
   
    .movie-h1 {
    font-size: 120%;
    }
    .movie-card  p {
     
      overflow: hidden;
      width: 100%;
      height: 22%;
      font-size: 8.6px;
    }
    
    .search-text {
      font-size: 15px;
    
  }

  }
  @media (max-width: 500px) {
    .one-line2{
      display: flex;
      width: 80%;
      justify-content: space-between;
      z-index: 1;
  
    }
    
    .one-line{
        width: 90%;
      }
    .break{
    
        width:80%;
       
      }
    .movie-card {
      margin-left: 30px;
      width: 100%;
    }
    .movie-card  p {
     
        overflow: hidden;
        width: 100%;
        height: 30%;
        font-size: 9px;
      }
      .movie-card .movie-h1 {
        font-size: 140%;
       
      
      }
      .movie-card span {
   
        font-size: 10px;
     
    
      }

  
  }

  

  .container-main{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
  }
  
  @media (min-width:768px) {
    .container-main {
        width: 750px
    }
  }
  
  @media (min-width:992px) {
    .container-main {
        width: 970px
    }
  }
  @media (min-width:1200px) {
    .container-main {
        width: 100%
    }
  }

  .container-main2{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
    
  }
  
  @media (min-width:768px) {
    .container-main2 {
        width: 96%
    }
  }
  
  @media (min-width:992px) {
    .container-main2 {
        width: 96%
    }
  }
  @media (min-width:1200px) {
    .container-main2{
        width: 96%
    }
  }






  .Serach-content {
    margin-top: 100px;
    display: flex;
    height: 50px;
    width: 300px;
    margin-left: 20px;
}

.search-text {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
    margin-left: 60px;
    margin-top: 14px;
    
    
}

.searchBox {
    position: absolute;

    background: #2f3640;
    height: 50px;
    border-radius: 50px;
    padding: 5px;


}

.searchBox:hover>.searchInput {
    width: 260px;
    padding: 0 6px;
}

.searchBox:hover>.searchButton {
    background: white;
    color: #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: none;
}
.searchButton i{
    font-size: 19px;
    cursor: pointer;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}


  .row-movie {
  
  display: -ms-flexbox;
  display: flex;
  
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-items: center;
  justify-self: center;
  align-items: center;
  width: 100%;
  justify-content: center;
  
  
  }
  
  
